* {
  margin: 0;
}
.backgrounddiv {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dotroh1024 {
  width: 1500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header1 {
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.header1font {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 500% */
  letter-spacing: -0.28px;
}
.header2font {
  width: 616px;
  height: 20px;
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding: 20px;
}
/* backgrounblur duusgaagui */
.backgroundblur {
  width: 100%;
  height: 75px;
  background: #f5f5f7;
  filter: blur(8px);
  background-color: #019ffb, #e44cbb, #f55be4, #fd8c1f;
  background-size: cover;
}
/* colorfullstore */
.colorstore {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 80px 0;
  padding: 0 140px;
}
.store {
  width: 655px;
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.storefont {
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.01px; /* 118.205% */
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.giftfont {
  color: #6e6e73;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.01px; /* 118.205% */
}
.needhelp {
  width: 226px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.munkhdiv {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shoppingdiv {
  width: 175px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gapavah {
  padding-top: 1rem;
}
.fontjijig1 {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.fontjijig2 {
  color: #06c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.fontjijig3 {
  color: #06c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
/* scrollgui zuragnud */
.scrollguizurag {
  width: 100%;
  height: 146px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0 140px;
}
.dotrohzuragdiv {
  width: 130px;
  height: 114px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 16px 8px;
}

.imgsize1 {
  width: 120px;
  height: 78px;
}
.fontsize12 {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.scroll4zurag {
  width: 100%;
  height: 558px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px 0;
  gap: 24px;
}
.thelastfont {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.letthefont {
  color: #6e6e73;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.textdiv1 {
  height: 34px;
  display: flex;
  flex-direction: row;
}
.scrollfirst {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px;
}
.sizescroll {
  width: 480px;
  height: 500px;
  background-size: cover;
  border-radius: 20px;
}
.applefont2 {
  color: #b64400;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.iphonefont2 {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  letter-spacing: 0.196px;
}
.iphone999 {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.zurag1 {
  background-image: url(./store-card-50-holiday-iphone-pro-202411_GEO_US.png);
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.zurag2 {
  background-image: url(./store-card-50-holiday-watch-s10-202411.png);
  display: flex;
  flex-direction: column;
}
.zurag3 {
  background-image: url(./store-card-50-holiday-ipad-mini-202411.png);
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.zurag4 {
  background-image: url(./store-card-50-holiday-macbook-pro-202411.png);
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.paddingfont {
  gap: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.paddingfont1 {
  gap: 10px;
  padding-top: 54px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.scroll5zurag {
  width: 100%;
  height: 558px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.scrollsecond {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px;
}
.sizescrollsecond {
  width: 400px;
  height: 500px;
  background-size: cover;
  border-radius: 30px;
}
.zuragsecond1 {
  background-image: url(./store-card-40-holiday-engraving-202411.png);
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.zuragsecond3 {
  background-image: url();
}
.makefont {
  width: 197px;
  height: 66px;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  letter-spacing: 0.196px;
  padding-top: 53px;
  padding-left: 30px;
}
.sizescrollsecond3 {
  width: 313px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.scroldotroh2 {
  width: 230px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button5 {
  width: 230px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.doodtext1 {
  width: 100%;
  height: 109px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.freefont1 {
  color: #b64400;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.airpodmax1font {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  padding-top: 8px;
}
.pricefont1 {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  padding-top: 57px;
}
/* scroll555 */
.scroll6zurag {
  width: 100%;
  height: 558px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 60px;
}
.scrollsecond {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px;
}
.sizescrollsecond {
  width: 400px;
  height: 500px;
  background-size: cover;
  border-radius: 30px;
}
.zuragsecond3 {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-image: url(./watch\ phone\ pad.png);
}
.makefont {
  width: 197px;
  height: 66px;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  letter-spacing: 0.196px;
  padding-top: 53px;
  padding-left: 30px;
}
.sizescrollsecond3 {
  width: 313px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.scroldotroh2 {
  width: 230px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button5 {
  width: 230px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.doodtext1 {
  width: 100%;
  height: 109px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.freefont1 {
  color: #b64400;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.airpodmax1font {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  padding-top: 8px;
}
.pricefont12 {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  padding-top: 37px;
}
.pricefont123 {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  padding-top: 37px;
}
/* }scrooldiv4tei */
.scroll7zurag {
  width: 100%;
  height: 558px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 60px;
}
.scrollsecond2 {
  display: flex;
  width: fit-content;
  /* overflow-x: scroll; */
  /* scroll-snap-type: x mandatory; */
  gap: 20px;
}
.sizescrollsecond6 {
  width: 480px;
  height: 500px;
  background-size: cover;
  border-radius: 30px;
}
.zuragsecond4 {
  background-image: url(./image\ copy\ 4.png);
  background-position: center;
}
.makefont1 {
  width: 305px;
  height: 130px;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  letter-spacing: 0.196px;
  padding-top: 53px;
  padding-left: 30px;
}
.scroldotroh4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.durvundiv {
  width: 313px;
  height: 240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
}
.customizefont {
  width: 238px;
  height: 84px;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  padding: 30px;
}
.zuragsecond5 {
  background-image: url(./image\ copy\ 5.png);
}
.scroll9zurag {
  width: 100%;
  height: 558px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 60px;
}
.sizescrollsecond6 {
  width: 480px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zuragsecond8 {
  background-image: url(./image\ copy\ 7.png);
}
